header{
    text-align:center;
    font-size:40px;
    background-color: rgba(101, 102, 101, 0.555);
    text-decoration: none;
}

h2{
    font-size:70px;
    color:rgb(255, 255, 255);
    margin-top:0;
}

body{
    background:linear-gradient(to bottom, rgb(21, 238, 202),rgb(13, 177, 13));
    font-family: 'Josefin Sans', sans-serif;
}

a{
    font-size:25px;
    text-decoration:none;
    color:rgb(253, 253, 253);
    margin-left:10px;
}

a:hover{
   color: rgb(11, 252, 212);
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom{
    background-color: rgba(101, 102, 101, 0.555);
    bottom:20%;
}

h3{
    color:rgb(0, 0, 0);
    font-size:45px;
}

h4{
    font-size:40px;
    color:floralwhite
}

p{
    color:rgb(44, 43, 40);
}

.button{
    background-color:red;
    border:none;
    border-radius: 15px;
    color:white;
    text-align:center;
    text-decoration:none;
    display:block;
    font-size:30px;
    margin:4px 2px;
    cursor:pointer;
    padding:20px 46px;
    font-weight:bold;
}

.button:hover {
    background-color:rgb(160, 31, 31)
}

.button-2:hover{
    background-color:rgb(24, 136, 136)
}
/* Mobile Devices */
@media only screen and (max-width:480px){
    .center-btn{
        margin:0;
        margin: 0;
        position: absolute;
        top:10%;
        left: 25%;
    }
    p{
        -webkit-flex:1 1 auto;
        flex:1 1 auto;
        font-size:20px;
    }
    iframe{
        width:465px;
        height:225px;
    }
    .button-2{
        background-color:rgb(6, 8, 1);
        border:none;
        border-radius:15px;
        color:white;
        text-align:center;
        text-decoration:none;
        display:block;
        font-size:20px;
        margin:20px 140px;
        cursor:pointer;
        padding:14px 40px; 
    }
    .bottom{
        display:-webkit-flex;
        display:flex;
        -webkit-flex-flow:column;
        flex-flow:column;
    }

    h1{
        font-size:90px;
        color:floralwhite;
    }
}

/* Tablet and Desktop Devices */
@media only screen and (min-width:481px){
    .center-btn{
        margin: 0;
        position: absolute;
        top:25%;
        left: 50%;
        transform: translate(-50%, -200%);
    }
    p{
        font-size:25px;
    }
    iframe{
        width:560px;
        height:315px;
    }
    .button-2{
        background-color:rgb(6, 8, 1);
        border:none;
        border-radius: 15px;
        color:white;
        text-align:center;
        text-decoration:none;
        display:block;
        font-size:20px;
        margin:20px 850px;
        cursor:pointer;
        padding:14px 40px; 
    }

    h1{
        font-size:200px;
        color:floralwhite;
    }
}
