header{
    text-align:center;
    font-size:40px;
    background-color: rgb(90, 175, 108);
    text-decoration: none;
}

h2{
    font-size:45px;
    color:rgb(83, 82, 82);
}

body{
    background-color:rgb(241, 227, 93);
    font-family: 'Josefin Sans', sans-serif;
}

a{
    font-size:25px;
    text-decoration:none;
    color:rgb(33, 44, 15);
    margin-left:10px;
}

a:hover{
   color:rgb(224, 248, 185);
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bottom{
    background-color: rgb(90, 175, 108);
    bottom:20%;
}

h3{
    font-size:40px;
}

.button{
    background-color:red;
    border:none;
    color:white;
    text-align:center;
    text-decoration:none;
    display:block;
    font-size:30px;
    margin:4px 2px;
    cursor:pointer;
    padding:20px 46px;
    font-weight:bold;
}

.button:hover {
    background-color:rgb(160, 31, 31)
}

.button-2:hover{
    background-color:rgb(15, 56, 15)
}
/* Mobile Devices */
@media only screen and (max-width:480px){
    .center-btn{
        margin:0;
        margin: 0;
        position: absolute;
        top:45%;
        left: 25%;
    }
    p{
        -webkit-flex:1 1 auto;
        flex:1 1 auto;
        font-size:20px;
    }
    iframe{
        width:465px;
        height:225px;
    }
    .button-2{
        background-color:rgb(88, 124, 26);
        border:none;
        color:white;
        text-align:center;
        text-decoration:none;
        display:block;
        font-size:20px;
        margin:20px 150px;
        cursor:pointer;
        padding:14px 40px; 
    }
    .bottom{
        display:-webkit-flex;
        display:flex;
        -webkit-flex-flow:column;
        flex-flow:column;
    }
}

/* Tablet and Desktop Devices */
@media only screen and (min-width:481px){
    .center-btn{
        margin: 0;
        position: absolute;
        top:30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    p{
        font-size:25px;
    }
    iframe{
        width:560px;
        height:315px;
    }
    .button-2{
        background-color:rgb(88, 124, 26);
        border:none;
        color:white;
        text-align:center;
        text-decoration:none;
        display:block;
        font-size:20px;
        margin:20px 900px;
        cursor:pointer;
        padding:14px 40px; 
    }
}
