h1{
    text-align:center;
    font-size:80px;
    background-color: rgb(209, 143, 143);
}

h2{
    font-size:45px;
    color:rgb(83, 82, 82);
}

p{
 font-size:20px;
 margin-right:350px;
}

body{
    background-color:lemonchiffon;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

a{
    font-size:25px;
}

.bottom{
    background-color: rgb(209, 143, 143);
}

h3{
    font-size:40px;
}